@import url('https://fonts.googleapis.com/css2?family=Modak&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');

@keyframes delay {
  0%, 40%, 100% { 
    transform: scaleY(0.05);
    -webkit-transform: scaleY(0.05);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

body{
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  background-color:#09b7bf;
  background: url("/home_page.png");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  margin: 0;
  display: flex;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1{
  font-family: Modak, serif;
  /* color: #1c2020; */
  color: #ffffff;
  margin: 0;
  padding: 20px 10px 0 10px;
  font-size: 5rem;
  font-weight: 100;
  letter-spacing: 6px;
  text-shadow: .1em .1em 0 hsl(200 50% 30%);
}
button{
  font-family: 'Caveat Brush', serif;
  display: inline-block;
  padding: 10px 20px;
  border: none;
  border-radius: 50em;
  background-color: black;
  color: #ffffff;
  font-weight: bold;
  font-size: 1.5rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  
  &:hover{
    cursor: pointer;
    background-color: white;
    color: #1c2020;
    box-shadow: 6px 9px 7px -3px rgba(0,0,0,0.8);
  }
}
.loader {
  margin: 0 auto;
  width: 60px;
  height: 50px;
  text-align: center;
  font-size: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  z-index: 500;
  opacity: 0;
  
  > div {
    height: 100%;
    width: 8px;
    /* display: inline-block; */
    float: left;
    margin-left: 2px;
    animation: delay 0.8s infinite ease-in-out;
  }
  
  .bar1{
    background-color: #754fa0 ;
  }
  .bar2{
    background-color: #09b7bf;
    animation-delay: -0.7s;
  }
  .bar3{
    background-color: #90d36b;
    animation-delay: -0.6s;
  }
  .bar4{
    background-color: #f2d40d;
    animation-delay: -0.5s;
  }
  .bar5{
    background-color: #fcb12b;
    animation-delay: -0.4s;
  }
  .bar6{
    background-color: #ed1b72;
    animation-delay: -0.3s;
  }
}

.overlay {
  position: fixed;
  width: 100%;
  height: 50vh;
  left: 0;
  z-index: 1;
  pointer-events: none;
}

.overlay.top {
  top: -50vh;
  background: url("/sea_top.png");
}

.overlay.bottom {
  bottom: -50vh;
  background: url("/sea_bottom.png");
}


@media (max-width: 900px) {
  body {
    background-position: center top;
  }
}